langgraph
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
langchain-text-splitters
langchain-qdrant
qdrant-client
sentence-transformers
pypdf
python-multipart
fastapi
uvicorn
nest_asyncio
langgraph-checkpoint-sqlite